/* CSS Document */

body{background:#a90100}

.container { background: white; padding:50px; margin-top:30px; box-shadow:0 5px 15px rgba(0,0,0,0.5)}

table {
    border-collapse: collapse;
    width:100%;
}

table td, table th {
  border:1px solid black;
  width:auto;
  padding:5px;
}

table th {
  background:#e0e0e0;
  color:#333
}

table tr td,
table tr th  { width:15% }

table tr td:first-child,
table tr th:first-child  { width:70% }

